@{
    ViewData["Title"] = "Home Page";
}

<body>
    <img src="https://stories.freepiklabs.com/api/vectors/marketing/cuate/render?color=&background=complete" style="position: absolute; right: 100px;" />
    <br /><br /><br /><br /><br /><br />
    <p style="font-size:6vw" color=#596D76 face="Helvetica">Hey there!</p>
    <p style="font-size: 1.5vw; text-align: justify; width: 55%" color=#596D76 face="Helvetica">Navega en la página para tener acceso a la información de nuestros clientes.</p>

</body>

